@using Site.WeiXin.DataAccess.Model;
@using Site.Untity;
@{
    KeyWordsReply obj = ViewBag.obj;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="editModalLabel">@(obj.Id > 0 ? "修改回复" : "新增回复")</h4>
        </div>
        <div class="modal-body">
            <div class="widget-content">
                <div class="tabbable" style="margin-bottom: 18px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
                        <li class="" id="tab_imageContent" style="display:none;" ><a href="#tab2" data-toggle="tab">素材库</a></li>
                    </ul>
                    <div class="tab-content" style="padding-bottom: 9px;">
                        <div class="tab-pane active" id="tab1">
                            <div class="padd">
                                <div class="form quick-post">
                                    <!-- Edit profile form (not working)-->
                                    <form class="form-horizontal" enctype="multipart/form-data" id="forms_edit" method="post" action="/Reply/ReplyEdit">
                                        <!-- title -->
                                        <div class="form-group">
                                            <label class="control-label col-lg-3" for="keywords">关键字</label>
                                            <div class="col-lg-9">
                                                <input type="text" name="keywords" class="form-control" id="keywords" value="@obj.KeyWords">
                                            </div>
                                        </div>
                                        <!-- Intro -->
                                        <div class="form-group">
                                            <label class="control-label col-lg-3" for="Intro">简介</label>
                                            <div class="col-lg-9">
                                                <textarea class="form-control" rows="5" name="Intro" id="Intro">@obj.Intro</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-3" for="txt_content">文本</label>
                                            <div class="col-lg-9">
                                                <textarea class="form-control" rows="5" name="txt_content" id="txt_content">@obj.Intro</textarea>
                                            </div>
                                        </div>

                                        <!-- 回复类型 -->
                                        <div class="form-group" id="txt_val">
                                            <label class="control-label col-lg-3" for="ReplyType">回复类型</label>
                                            <div class="col-lg-9">
                                                <div class="btn-group">
                                                    <button type="button" value="text" class="btn btn-primary">文本</button>
                                                    <button type="button" value="image" class="btn btn-default">图片</button>
                                                    <button type="button" value="voice" class="btn btn-default">语音</button>
                                                    <button type="button" value="video" class="btn btn-default">视频</button>
                                                    <button type="button" value="music" class="btn btn-default">音乐</button>
                                                    <button type="button" value="imageContent" class="btn btn-default">图文</button>
                                                </div>
                                            </div>
                                        </div>


                                        <input type="hidden" name="id" value="@obj.Id" />
                                        <input type="hidden" name="ReplyType" id="ReplyType" value="text" />
                                        <input type="hidden" name="imageContentIds" id="imageContentIds" value="" />
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class="alert alert-warning" style="margin-bottom:0px;">
                                <span style="color:red;">1.图文消息支持1到8条图文。其它类型回复只能有一条。</span>
                                <span style="color:red;">2.回复的非文本消息，【官方测试号】上只能用永久素材，临时素材则无效。</span>
                            </div>
                            <div class="widget">
                                <div class="widget-head">
                                    <div class="pull-left form-inline">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="search_title" value="" placeholder="请输入标题">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-default" onclick="btn_searchContent()"><i class="icon-search"></i> 搜索</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="ContentList" class="widget-content referrer">
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                取消
            </button>
            <button type="button" onclick="btn_EditSubmit();" class="btn btn-primary">
                确定
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        
        $("button[value]").click(function () {
            var _type = $(this).attr("value");
            if (_type != "text") {
                $("#txt_content").attr("disabled", "disabled");
                $("#tab_imageContent").show();
            } else {
                $("#txt_content").removeAttr("disabled");
                $("#tab_imageContent").hide();
            }
            $("button[value]").removeClass("btn-primary").addClass("btn-default");
            $(this).addClass("btn-primary");
            $("#ReplyType").val(_type);
        });
        
        $("#tab_imageContent").click(function () {
            var valiForm = $('#forms_edit').data('bootstrapValidator');
            valiForm.validate();
            if (valiForm.isValid()) {
                return true;
            }
            else {
                return false;
            }
        });

        //设置校验规则
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                keywords: {
                    validators: {
                        notEmpty: {
                            message: '关键字不能为空'
                        }
                    }
                },
                Intro: {
                    validators: {
                        notEmpty: {
                            message: '简介不能为空'
                        }
                    }
                }
            }
        });
    });

    function btn_EditSubmit() {
        var valiForm = $('#forms_edit').data('bootstrapValidator');
        valiForm.validate();
        if (valiForm.isValid()) {
            $.ShowLoading("提交中...");

            var _type = $("#ReplyType").val();
            var arr = $("input[name^='chk_']:checked");
            if (arr.length > 1 && _type != "imageContent")
            {
                $.WarningInfo("非图文项只能选择一项", 1000);
                $.HideLoading();
                return false;
            }
            initiIds(arr);
            if (_type != "text") {
                var _imageContentIds = $("#imageContentIds").val();
                if (!_imageContentIds) {
                    $.WarningInfo("请选择回复素材", 1000);
                    $.HideLoading();
                    return false;
                }
            }
            

            //jquery.form 插件
            $("#forms_edit").ajaxSubmit({
                //定义返回JSON数据，还包括xml和script格式,必须指定表单的action和method
                dataType: 'json',
                success: function (json) {
                    $.HideLoading();
                    if (json.success) {
                        $.SuccessInfo(json.message.text, 1000);
                        setTimeout(function () {
                            top.location.reload();
                        }, 1000);
                    }
                    else {
                        $.WarningInfo(json.message.text, 1000);
                    }
                },
                error: function (xhr, xhrText, error) {
                    $.HideLoading();
                    $.ErrorInfo(error);
                }
            });
        }
    }

    function btn_searchContent() {
        var _title = $("#search_title").val();
        var _type = $("#ReplyType").val();

        $.ajax({
            url: "/Reply/ReplyContentSearch",
            type: "get",
            dataType: "html",
            data: {
                key: _title,
                type: _type
            },
            cache: false,
            success: function (html) {
                $.HideLoading();
                $("#ContentList").html(html);
            },
            error: function (xhr, state, error) {
                $.HideLoading();
                $.ErrorInfo(error);
            }
        });
    };

    function initiIds(arr) {
        
        var ids = [];
        $.each(arr, function (i, e) {
            ids.push($(e).val());
        });
        $("#imageContentIds").val(ids.join(","));
    }

</script>