@using Site.WeiXin.DataAccess.Model;
@using Site.Untity;
@{

    IList<Article> list = ViewBag.list;

    int pageIndex = ViewBag.pageIndex;
    int pageSize = ViewBag.pageSize;
    int rowCount = ViewBag.rowCount;
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" name="chkmall" id="chkmall" value="" /></th>
            <th>文章名称</th>
            <th>文章简介</th>
            <th>文章作者</th>
            <th>创建时间</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (list != null && list.Count > 0)
            {
                int num = 1;
                foreach (Article item in list)
                {
                    <tr>
                        <td><input class="checkbox" type="checkbox" name="chk_m_@num" id="chk_m_@num" value="@item.Id" /></td>
                        <td>@item.Title</td>
                        <td>@item.Intro</td>
                        <td>@item.AuthorName</td>
                        <td>@item.CreateTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                    </tr>
                    num++;
                }
            }
            else
            {
                <tr><td colspan="5">暂无任何数据</td></tr>
            }
        }
    </tbody>
</table>
<div class="widget-foot">
    @*@Html.Raw(UntityTool.CreateListPage(pageSize, pageIndex, rowCount, string.Format("/Home/MessageList/{0}", content == "" ? "" : string.Format("?content={0}", HttpUtility.UrlEncode(content)))))*@
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $(function () {
        $("#chkmall").click(function () {
            var _val = $(this).prop("checked");
            $("input[name^='chk_m_']").prop("checked", _val);
        });
    });
</script>