
@{
    ViewBag.Title = "群发管理";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}
@using Site.WeiXin.DataAccess.Model;
@using Site.Untity;
@{

    IList<GroupSend> list = ViewBag.list;
    string key = ViewBag.key;

    int pageIndex = ViewBag.pageIndex;
    int pageSize = ViewBag.pageSize;
    int rowCount = ViewBag.rowCount;
}

@section css{
    @Styles.Render("~/PageTemplate/style/template")
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
}

@section scripts{
    @Scripts.Render("~/PageTemplate/js/template")
    <script src="~/Scripts/bootstrapValidator.min.js"></script>

    <script type="text/javascript">
        var currentId = "";
        var msg_id = "";
        $(function () {

            $('#myModal').on('hidden.bs.modal', function (e) {
                currentId = "";
                msg_id = "";
            });

            $('#editModal').on('hidden.bs.modal', function (e) {
                //移除表单数据
                $(this).removeData();
            });

            $('#checkModal').on('hidden.bs.modal', function (e) {
                currentId = "";
            });
            
            $('#btn_deleteEdit').on('click', function (e) {
                btn_deleteEdit();
            })
            
        })

        function btn_delete(id, msg_id) {
            currentId = id;
            msg_id = msg_id;
            $("#myModal").modal({
                backdrop: "static"//指定一个静态背景，当用户点击背景处，modal界面不会消失
            })
        }
       
        function btn_edit(id) {
            $("#editModal").modal({
                remote: "/GroupSend/GroupSendAddView?id=" + id,
                backdrop: "static"//指定一个静态背景，当用户点击背景处，modal界面不会消失
            })
        }

        function btn_deleteEdit() {
            $.ShowLoading("删除中...");
            //验证通过
            $.ajax({
                url: "/GroupSend/GroupSendDelete",
                type: "post",
                dataType: "json",
                data: {
                    id: currentId,
                    msg_id: msg_id
                },
                cache: false,
                success: function (json) {
                    $.HideLoading();
                    if (json.success) {
                        $.SuccessInfo(json.message.text, 1000);
                        setTimeout(function () {
                            top.location.href = "/Content/MaterialList";
                        }, 1000);
                    }
                    else {
                        $.WarningInfo(json.message.text);
                    }
                },
                error: function (xhr, state, error) {
                    $.HideLoading();

                    $.ErrorInfo(error);
                }
            });

            $('#myModal').modal('hide')
        }

        function btn_search() {
            var _key = $("#title").val();
            top.location.href = "/GroupSend/Index?key=" + _key;
        }

    </script>
}
<div class="page-head">
    <h2 class="pull-left"><i class="icon-th-list"></i> 群发管理 </h2>
    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a href="/"><i class="icon-home"></i> 首页 </a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a href="#" class="bread-current">群发管理</a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="alert alert-warning" style="margin-bottom:0px;">
                        <h5>1.群发记录，只保留标签群发的标签，OpenId群发，不记录OpenId。</h5>
                        <h5>2.订阅号，群发每天一次；服务号，群发每天100次，用户每月只能接收4条；群发预览，每天100次。。</h5>
                        <h5>3.历史消息，表示此次群发进入接受者的历史消息列表中。</h5>
                    </div>
                    <div class="widget-head">
                        <div class="pull-left form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="title" value="@key" placeholder="请输入群发名称">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-default" onclick="btn_search()"><i class="icon-search"></i> 搜索</button>
                            </div>
                        </div>
                        <div class="widget-icons pull-right">
                            <button class="btn btn-sm btn-success" onclick="btn_edit('');"><i class="icon-plus"></i>新增</button>

                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="icon-remove"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content referrer">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>群发名称</th>
                                    <th class="hidden-xs">素材名称</th>
                                    <th class="hidden-xs">群发途径</th>
                                    <th>标签名称</th>
                                    <th>消息类型</th>
                                    <th class="hidden-xs">MediaId</th>
                                    <th class="hidden-xs">是否历史消息</th>
                                    <th>发送状态</th>
                                    <th class="hidden-xs">创建用户</th>
                                    <th class="hidden-xs">创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (list != null && list.Count > 0)
                                    {
                                        int num = 1;
                                        foreach (GroupSend item in list)
                                        {
                                            <tr>
                                                <td>@num</td>
                                                <td>@item.SendName</td>
                                                <td class="hidden-xs">@item.MaterialName</td>
                                                <td class="hidden-xs">@item.SendType</td>
                                                <td>@item.TagName</td>
                                                <td>@item.MessageType</td>
                                                <td class="hidden-xs">@item.Media_Id</td>
                                                <td class="hidden-xs">@(item.IsToAll == true ? "是" : "否")</td>
                                                <td>
                                                    @{
                                                        if (item.SendStatu == (int)SiteEnum.GroupSendState.成功)
                                                        {
                                                            <span class="label label-success">成功</span>
                                                        }
                                                        else if(item.SendStatu == (int)SiteEnum.GroupSendState.失败)
                                                        {
                                                            <span class="label label-warning">失败</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-primary">发送中</span>
                                                        }
                                                    }
                                                </td>
                                                <td class="hidden-xs">@item.CreateUserAccount</td>
                                                <td class="hidden-xs">@item.CreateTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                                <td>
                                                    @if (item.MessageType == "imageContent"|| item.MessageType == "mpvideo")
                                                    {
                                                        <button class="btn btn-xs btn-warning" onclick="btn_delete(@item.Id,'@item.Msg_id');"><i class="icon-remove"></i></button>
                                                    }
                                                </td>
                                            </tr>
                                            num++;
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="12">暂无任何数据</td></tr>
                                    }
                                }
                            </tbody>
                        </table>

                        <div class="widget-foot">
                            @Html.Raw(UntityTool.CreateListPage(pageSize, pageIndex, rowCount, string.Format("/GroupSend/Index/{0}", key == "" ? "" : string.Format("?key={0}", HttpUtility.UrlEncode(key)))))
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <!-- confirm 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        删除
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    删除图文素材后对应的访问页面将失效，请问确定要删除该素材吗？<br />
                                    <div class="alert alert-warning" style="margin-bottom:0px;">
                                        <span>1.删除图文时需要指定删除的文章在图文消息中的位置，从1开始；0表示全部删除。</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-3" for="SendName">删除索引</label>
                                        <div class="col-lg-9">
                                            <input type="text" name="txt_index" class="form-control" id="txt_index" value="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        取消
                                    </button>
                                    <button type="button" id="btn_deleteEdit" class="btn btn-primary">
                                        确定
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 编辑 模态框（Modal） -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">

                    </div>

                    <!-- check 模态框（Modal） -->
                    <div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="checkModalLabel">
                                        审核
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    请问选择审核状态？
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        取消
                                    </button>
                                    <button type="button" name="btn_check" state="1" class="btn btn-danger">
                                        审核不通过
                                    </button>
                                    <button type="button" name="btn_check" state="0" class="btn btn-success">
                                        审核通过
                                    </button>
                                    <button type="button" name="btn_check" state="2" class="btn btn-warning">
                                        无效
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
