@using Site.WeiXin.DataAccess.Model;
@using Site.Untity;
@{
    Menu obj = ViewBag.obj;
    int parentId = ViewBag.parentId == "" ? 1 : int.Parse(ViewBag.parentId);//此处需要注意，默认根节点ID为1
    List<SelectListItem> selectList = ViewBag.selectList;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="editModalLabel">@(obj.Id > 0 ? "修改菜单" : "新增菜单")</h4>
        </div>
        <div class="modal-body">
            <div class="widget-content">
                <div class="padd">
                    <div class="form quick-post">
                        <!-- Edit profile form (not working)-->
                        <form class="form-horizontal" id="forms_edit">
                            <!-- name -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="title">菜单名称</label>
                                <div class="col-lg-9">
                                    <input type="text" name="name" class="form-control" id="name" value="@obj.Name">
                                </div>
                            </div>
                            <!-- type -->
                            <div class="form-group">
                                <label class="control-label col-lg-3">点击类型</label>
                                <div class="col-lg-9">
                                    @Html.DropDownList("type", selectList, "--请选择--", new { id = "type", @class = "form-control" })
                                </div>
                            </div>

                            <!-- value -->
                            <div class="form-group" style="display:@(obj.Type == "click" ? "block" : "none");" id="txt_val">
                                <label class="control-label col-lg-3" for="content">值</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="value" id="value" value="@obj.Value" />
                                </div>
                            </div>
                            <!-- levelCode -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="content">层级编码</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" disabled="disabled" name="levelCode" id="levelCode" value="@obj.LevelCode" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                取消
            </button>
            <button type="button" onclick="btn_EditSubmit();" class="btn btn-primary">
                确定
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //设置校验规则
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: '菜单名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '菜单名称不能为空'
                        }
                    }
                },
                type: {
                    validators: {
                        notEmpty: {
                            message: '点击类型不能为空'
                        }
                    }
                },
                value: {
                    validators: {
                        notEmpty: {
                            message: 'key值不能为空'
                        }
                    }
                },
                levelCode: {
                    validators: {
                        notEmpty: {
                            message: '层级编码不能为空'
                        }
                    }
                }
            }
        });

        $("#type").change(function () {
            var val = $(this).val();
            if (val == "click") {
                $("#txt_val").show();
            } else {
                $("#txt_val").hide();
                $("#value").val("");

            }
        });
    });

    function btn_EditSubmit() {
        var valiForm = $('#forms_edit').data('bootstrapValidator');
        valiForm.validate();
        if (valiForm.isValid()) {
            $.ShowLoading("提交中...");
            //验证通过
            $.ajax({
                url: "/Home/MenuEdit",
                type: "post",
                dataType: "json",
                data: {
                    id:'@obj.Id',
                    name: $("#name").val(),
                    type: $("#type").val(),
                    value: $("#value").val(),
                    parentId:'@parentId',
                    levelCode: $("#levelCode").val()
                },
                cache: false,
                success: function (json) {
                    $.HideLoading();
                    if (json.success) {
                        $.SuccessInfo(json.message.text, 1000);
                        $('#editModal').modal('hide')
                        setTimeout(function () {
                            top.location.reload();
                        }, 1000);
                    }
                    else {
                        $.WarningInfo(json.message.text);
                    }
                },
                error: function (xhr, state, error) {
                    $.HideLoading();
                    $.ErrorInfo(error);
                }
            });
        }

    }

</script>