@using Site.WeiXin.DataAccess.Model;
@using Site.Untity;
@{
    Article obj = ViewBag.obj;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="editModalLabel">@(obj.Id > 0 ? "修改文章" : "新增文章")</h4>
        </div>
        <div class="modal-body">
            <div class="widget-content">
                <div class="tabbable" style="margin-bottom: 18px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
                        <li class=""><a href="#tab2" data-toggle="tab">文章内容</a></li>
                    </ul>
                    <div class="tab-content" style="padding-bottom: 9px;">
                        <div class="tab-pane active" id="tab1">
                            <div class="padd">
                                <div class="form quick-post">
                                    <!-- Edit profile form (not working)-->
                                    <form class="form-horizontal" enctype="multipart/form-data"  id="forms_edit" action="/Content/ArticleEdit" method="post" >
                                        <!-- title -->
                                        <div class="form-group">
                                            <label class="control-label col-lg-3" for="article_title">标题</label>
                                            <div class="col-lg-9">
                                                <input type="text" name="Title" class="form-control" id="article_title" value="@obj.Title">
                                            </div>
                                        </div>
                                        <!-- 作者 -->
                                        <div class="form-group">
                                            <label class="control-label col-lg-3" for="authorName">作者</label>
                                            <div class="col-lg-9">
                                                <input type="text" name="AuthorName" class="form-control" id="authorName" value="@obj.AuthorName">
                                            </div>
                                        </div>
                                        <!-- 封面设置 -->
                                        <div class="form-group" id="input_file">
                                            <label class="control-label col-lg-3" for="Intro">
                                            封面设置<br />
                                            用于回复</label>
                                            <div class="col-lg-9">
                                                <input id="lefile" name="lefile" type="file" style="display:none">
                                                <div class="input-append">
                                                    <input id="txt_filename" disabled="disabled" name="txt_filename" class="input-large" type="text" style="height:30px;">
                                                    <a class="btn btn-primary" onclick="$('input[id=lefile]').click();">选择文件</a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 原文地址 -->
                                        <div class="form-group" id="txt_val">
                                            <label class="control-label col-lg-3" for="contentSourceUrl">原文地址</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="ContentSourceUrl" id="contentSourceUrl" value="@obj.ContentSourceUrl" />
                                            </div>
                                        </div>
                                        <!-- Intro -->
                                        <div class="form-group">
                                            <label class="control-label col-lg-3" for="Intro">简介</label>
                                            <div class="col-lg-9">
                                                <textarea class="form-control" rows="5" name="Intro" id="Intro">@obj.Intro</textarea>
                                            </div>
                                        </div>
                                        <!--文章封面的素材ID-->
                                        <div class="form-group" id="pic_mediaId">
                                            <label class="control-label col-lg-3" for="mediaId">
                                            素材ID<br/>
                                            用于群发
                                            </label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="MediaId" id="mediaId" value="@obj.MediaId" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-3" for="ShowCover">显示封面</label>
                                            <div class="col-lg-9">
                                                <div class="make-switch has-switch" id="toggle-state-switch">
                                                    <input type="hidden" id="ShowCover" name="ShowCover" value="@obj.ShowCover" />
                                                    <div id="btn_switch" class="switch-@(obj.ShowCover==1?"on":"off") switch-animate" style=""><input type="checkbox"><span class="switch-left switch-success">ON</span><label>&nbsp;</label><span class="switch-right switch-warning">OFF</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" value="@obj.Id" />

                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class="alert alert-warning" style="margin-bottom:0px;">
                                <span style="color:red;">1.图片仅支持jpg/png格式，大小必须在1MB以下。</span><br />
                                <span style="color:red;">2.图文消息的具体内容，支持HTML标签，必须少于2万字符，小于1M，且此处会去除JS,涉及图片url必须是添加图片上传的。外部图片url将被过滤。</span>
                            </div>
                            <script id="editor" type="text/plain" style="width:100%;height:100%;">@Html.Raw(obj.ArticleContent)</script>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                取消
            </button>
            <button type="button" onclick="btn_EditSubmit();" class="btn btn-primary">
                确定
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">

    var ue;

    $(function () {
        //设置校验规则
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: '标题名称不能为空'
                        }
                    }
                },
                authorName: {
                    validators: {
                        notEmpty: {
                            message: '作者不能为空'
                        }
                    }
                },
                mediaId: {
                    validators: {
                        notEmpty: {
                            message: '封面ID不能为空'
                        }
                    }
                }
            }
        });

        $('#toggle-state-switch').click(function () {
            var _check = $("#ShowCover").val()
            console.log(_check);
            if (_check==1) {
                $("#btn_switch").removeClass("switch-on switch-animate").addClass("switch-off switch-animate");
                $("#ShowCover").val(0);
            }
            else {
                $("#btn_switch").removeClass("switch-off switch-animate").addClass("switch-on switch-animate");
                $("#ShowCover").val(1);
            }
        });

        ue = UE.getEditor('editor', {
            elementPathEnabled: false,
            zIndex: 1100 //编辑器层级的基数,默认是900,bootstrap 1100
        });

        $("input[id='lefile']").change(function () {
            $('#txt_filename').val($(this).val());
        });


    });

    function btn_EditSubmit() {
        var valiForm = $('#forms_edit').data('bootstrapValidator');
        valiForm.validate();
        if (valiForm.isValid()) {
            $.ShowLoading("提交中...");
            //验证通过
            var _content = ue.getContent();
            if (_content.length <= 0) {
                $.WarningInfo("详细不能为空");
                return false;
            }

            //jquery.form 插件
            $("#forms_edit").ajaxSubmit({
                //定义返回JSON数据，还包括xml和script格式,必须指定表单的action和method
                dataType: 'json',
                data: {
                    ArticleContent: _content
                },
                success: function (json) {
                    $.HideLoading();
                    if (json.success) {
                        $.SuccessInfo(json.message.text, 1000);
                        setTimeout(function () {
                            top.location.reload();
                        }, 1000);
                    }
                    else {
                        $.WarningInfo(json.message.text, 1000);
                    }
                },
                error: function (xhr, xhrText, error) {
                    $.HideLoading();
                    $.ErrorInfo(error);
                }
            });

            @*$.ajax({
                url: "/Content/ArticleEdit",
                type: "post",
                dataType: "json",
                data: {
                    id:'@obj.Id',
                    Title: $("#article_title").val(),
                    AuthorName: $("#authorName").val(),
                    ContentSourceUrl: $("#contentSourceUrl").val(),
                    Intro: $("#Intro").val(),
                    ShowCover: $("#ShowCover").val(),
                    MediaId: $("#mediaId").val(),
                    ArticleContent: _content

                },
                cache: false,
                success: function (json) {
                    $.HideLoading();
                    if (json.success) {
                        $.SuccessInfo(json.message.text, 1000);
                        $('#editModal').modal('hide')
                        setTimeout(function () {
                            top.location.reload();
                        }, 1000);
                    }
                    else {
                        $.WarningInfo(json.message.text);
                    }
                },
                error: function (xhr, state, error) {
                    $.HideLoading();
                    $.ErrorInfo(error);
                }
            });*@
        }

    }

</script>