<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css/base")


    @Scripts.Render("~/bundles/js/base")

    @RenderSection("css", false)
    @RenderSection("head", false)


    @{
        string action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
        string controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    }

</head>
<body>

    <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">

        <div class="conjtainer">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span>菜单</span>
                </button>
                <!-- Site name for smallar screens -->
                <a href="index.html" class="navbar-brand hidden-lg">首页</a>
            </div>

            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

                <ul class="nav navbar-nav">

                    <!-- Upload to server link. Class "dropdown-big" creates big dropdown -->
                    <li class="dropdown dropdown-big">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-success"><i class="icon-cloud-upload"></i></span> 上传到云服务器</a>
                        <!-- Dropdown -->
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Progress bar -->
                                <p>图片上传进度</p>
                                <!-- Bootstrap progress bar -->
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">完成40%</span>
                                    </div>
                                </div>

                                <hr />

                                <!-- Progress bar -->
                                <p>视频上传进度</p>
                                <!-- Bootstrap progress bar -->
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">完成80%</span>
                                    </div>
                                </div>

                                <hr />

                                <!-- Dropdown menu footer -->
                                <div class="drop-foot">
                                    <a href="#">查看所有</a>
                                </div>

                            </li>
                        </ul>
                    </li>

                    <!-- Sync to server link -->
                    <li class="dropdown dropdown-big">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-danger"><i class="icon-refresh"></i></span> 同步到服务器</a>
                        <!-- Dropdown -->
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Using "icon-spin" class to rotate icon. -->
                                <p><span class="label label-info"><i class="icon-cloud"></i></span>同步会员到服务器</p>
                                <hr />
                                <p><span class="label label-warning"><i class="icon-cloud"></i></span>同步书签到云端</p>

                                <hr />

                                <!-- Dropdown menu footer -->
                                <div class="drop-foot">
                                    <a href="#">查看所有</a>
                                </div>

                            </li>
                        </ul>
                    </li>

                </ul>

                <!-- Search form -->
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
                <!-- Links -->
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown pull-right">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-user"></i> 管理员 <b class="caret"></b>
                        </a>

                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-user"></i> 资料</a></li>
                            <li><a href="#"><i class="icon-cogs"></i> 设置</a></li>
                            <li><a href="/Login/LoginOut"><i class="icon-off"></i> 退出</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>

        </div>
    </div>


    <!-- Header starts -->
    <header>
        <div class="container">
            <div class="row">

                <!-- Logo section -->
                <div class="col-md-4">
                    <!-- Logo. -->
                    <div class="logo">
                        <h1><a href="#">微信<span class="bold"></span></a></h1>
                        <p class="meta">后台管理系统</p>
                    </div>
                    <!-- Logo ends -->
                </div>

                <!-- Button section -->
                <div class="col-md-4">

                    <!-- Buttons -->
                    <ul class="nav nav-pills">
                        @{
                            Html.RenderAction("NearMessage", "Home");
                        }
                    </ul>

                </div>

                <!-- Data section -->

                <div class="col-md-4">
                    <div class="header-data">

                        <!-- Traffic data -->
                        <div class="hdata">
                            <div class="mcol-left">
                                <!-- Icon with red background -->
                                <i class="icon-signal bred"></i>
                            </div>
                            <div class="mcol-right">
                                <!-- Number of visitors -->
                                <p><a href="#">7000</a> <em>总粉丝</em></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!-- Members data -->
                        <div class="hdata">
                            <div class="mcol-left">
                                <!-- Icon with blue background -->
                                <i class="icon-user bblue"></i>
                            </div>
                            <div class="mcol-right">
                                <!-- Number of visitors -->
                                <p><a href="#">3000</a> <em>当日粉</em></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- Header ends -->
    <!-- Main content starts -->

    <div class="content">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-dropdown"><a href="#">导航</a></div>

            <!--- Sidebar navigation -->
            <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
            <ul id="nav">
                <!-- Main menu with font awesome icon -->
                <li>
                    <a href="/"  class="@((controllerName == "home" && action == "index") ? "open" : "")"><i class="icon-home"></i> 首页</a>
                </li>
                <li><a href="/Home/Menu" class="@((controllerName == "home" && action == "menu") ? "open" : "")"><i class="icon-th-list"></i>菜单</a></li>
                <li><a href="/Home/UserList" class="@((controllerName == "home" && action == "userlist") ? "open" : "")"><i class="icon-heart"></i>关注用户</a></li>
                <li><a href="/Home/MessageList" class="@((controllerName == "home" && action == "messagelist") ? "open" : "")"><i class="icon-comments"></i>用户留言</a></li>
                <li class="has_sub">
                    <a href="#" class="@((controllerName == "content") ? "subdrop" : "")"><i class="icon-folder-open"></i>内容管理<span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                    <ul style="display:@(controllerName=="content"?"block":"none");">
                        <li><a href="/Content/Index">文章管理</a></li>
                        <li><a href="/Content/MaterialList">素材管理</a></li>
                        <li><a href="error.html">错误</a></li>
                        <li><a href="error-log.html">错误日志</a></li>
                        <li><a href="calendar.html">日历</a></li>
                        <li><a href="grid.html">网格</a></li>
                    </ul>
                </li>
                <li><a href="/Home/SourceList class="@((controllerName == "home" && action == "sourcelist") ? "open" : "")""><i class="icon-magic"></i>素材管理</a></li>
                <li><a href="calendar.html"><i class="icon-calendar"></i>日历</a></li>
            </ul>
        </div>

        <!-- Sidebar ends -->
        <!-- Main bar -->
        <div class="mainbar">
            @RenderBody()
        </div>

        <!-- Mainbar ends -->
        <div class="clearfix"></div>

    </div>
    <!-- Content ends -->
    <!-- Footer starts -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyright info -->
                    <p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>


    @RenderSection("scripts", false)
</body>
</html>