@using Site.Untity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微信后台管理系统_@ViewBag.Title</title>

    @Styles.Render("~/Content/base")
    @Styles.Render("~/PageTemplate/style/base")
    @Scripts.Render("~/Scripts/base")
    <!--修正小屏幕中操作按钮过多换行-->
    <style type="text/css">
        @@media (max-width: 767px) {
            td .btn {
                margin-top: 3px;
            }
        }
    </style>

    @RenderSection("css", false)
    @RenderSection("head", false)

    @{
        string action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
        string controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    }

</head>
<body>

    <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">

        <div class="conjtainer">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span>更多</span>
                </button>
                <!-- Site name for smallar screens -->
                <a href="/" class="navbar-brand hidden-lg">@HttpContextUntity.CurrentUser.Name</a>
            </div>

            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

                <ul class="nav navbar-nav">

                    <!-- Upload to server link. Class "dropdown-big" creates big dropdown -->
                    <li class="dropdown dropdown-big">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-success"><i class="icon-cloud-upload"></i></span> 上传到云服务器</a>
                        <!-- Dropdown -->
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Progress bar -->
                                <p>图片上传进度</p>
                                <!-- Bootstrap progress bar -->
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">完成40%</span>
                                    </div>
                                </div>

                                <hr />

                                <!-- Progress bar -->
                                <p>视频上传进度</p>
                                <!-- Bootstrap progress bar -->
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">完成80%</span>
                                    </div>
                                </div>

                                <hr />

                                <!-- Dropdown menu footer -->
                                <div class="drop-foot">
                                    <a href="#">查看所有</a>
                                </div>

                            </li>
                        </ul>
                    </li>

                    <!-- Sync to server link -->
                    <li class="dropdown dropdown-big">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-danger"><i class="icon-refresh"></i></span> 同步到服务器</a>
                        <!-- Dropdown -->
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Using "icon-spin" class to rotate icon. -->
                                <p><span class="label label-info"><i class="icon-cloud"></i></span>同步会员到服务器</p>
                                <hr />
                                <p><span class="label label-warning"><i class="icon-cloud"></i></span>同步书签到云端</p>

                                <hr />

                                <!-- Dropdown menu footer -->
                                <div class="drop-foot">
                                    <a href="#">查看所有</a>
                                </div>

                            </li>
                        </ul>
                    </li>

                </ul>

                <!-- Search form -->
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
                <!-- Links -->
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown pull-right">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-user"></i>当前用户：@User.Identity.Name<b class="caret"></b>
                        </a>

                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);"><i class="icon-bullhorn"></i>@HttpContextUntity.CurrentUser.Name</a></li>
                            <li><a href="javascript:void(0);"><i class="icon-star"></i>@(HttpContextUntity.CurrentUser.IsSuperAdmin ? "超级管理员" : (HttpContextUntity.CurrentUser.IsAdmin ? "管理员" : "普通用户"))</a></li>
                            <li><a href="/Login/LoginOut"><i class="icon-off"></i>退出</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>

        </div>
    </div>


    <!-- Header starts -->
    <header>
        <div class="container">
            <div class="row">

                <!-- Logo section -->
                <div class="col-md-4">
                    <!-- Logo. -->
                    <div class="logo">
                        <h1><a href="#">宇扬<span class="bold"></span></a></h1>
                        <p class="meta">微信管理系统</p>
                    </div>
                    <!-- Logo ends -->
                </div>

                <!-- Button section -->
                <div class="col-md-4">

                    <!-- Buttons -->
                    <ul class="nav nav-pills">
                        @{
                            Html.RenderAction("NearMessage", "Home");
                        }
                    </ul>

                </div>

                <!-- Data section -->

                <div class="col-md-4">
                    <div class="header-data">
                        @{
                            Html.RenderAction("Subscribe", "Home");
                        }
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- Header ends -->
    <!-- Main content starts -->

    <div class="content">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-dropdown"><a href="#">菜单</a></div>

            <!--- Sidebar navigation -->
            <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
            <ul id="nav">
                @{
                    if (HttpContextUntity.CurrentUser.IsSuperAdmin)
                    {
                        <li><a href="/System/AppList" class="@((controllerName == "system" && action == "applist") ? "open" : "")"><i class="icon-wrench"></i>公众号管理</a></li>
                        <li><a href="/System/UserList" class="@((controllerName == "system" && action == "userlist") ? "open" : "")"><i class="icon-user"></i>系统用户</a></li>
                    }
                    else
                    {
                        <!-- Main menu with font awesome icon -->
                        <li>
                            <a href="/" class="@((controllerName == "home" && action == "index") ? "open" : "")"><i class="icon-home"></i> 首页</a>
                        </li>
                        <li><a href="/Home/Menu" class="@((controllerName == "home" && action == "menu") ? "open" : "")"><i class="icon-th-list"></i>菜单</a></li>
                        <li class="has_sub">
                            <a href="#" class="@((controllerName == "fans") ? "subdrop" : "")"><i class="icon-heart"></i>粉丝管理<span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                            <ul style="display:@(controllerName=="fans"?"block":"none");">
                                <li><a href="/Fans/UserList">关注用户</a></li>
                                <li><a href="/Fans/UserMark">用户标签</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/MessageList" class="@((controllerName == "home" && action == "messagelist") ? "open" : "")"><i class="icon-comments"></i>用户留言</a></li>
                        <li class="has_sub">
                            <a href="#" class="@((controllerName == "content") ? "subdrop" : "")"><i class="icon-folder-open"></i>内容管理<span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                            <ul style="display:@(controllerName=="content"?"block":"none");">
                                <li><a href="/Content/Index">文章管理</a></li>
                                <li><a href="/Content/MaterialList">素材管理</a></li>
                            </ul>
                        </li>
                        <li><a href="/Reply/KeyWordList" class="@((controllerName == "reply" && action == "keywordlist") ? "open" : "")"><i class="icon-tags"></i>回复管理</a></li>

                        <li><a href="/System/UserList" class="@((controllerName == "system" && action == "userlist") ? "open" : "")"><i class="icon-user"></i>系统用户</a></li>
                        <li><a href="/System/CustomerList" class="@((controllerName == "system" && action == "customerlist") ? "open" : "")"><i class="icon-headphones"></i>客服管理</a></li>
                        <li><a href="/GroupSend/Index" class="@((controllerName == "groupsend" && action == "index") ? "open" : "")"><i class="icon-volume-up"></i>群发管理</a></li>
                    }
                }
            </ul>
        </div>

        <!-- Sidebar ends -->
        <!-- Main bar -->
        <div class="mainbar">
            @RenderBody()
        </div>

        <!-- Mainbar ends -->
        <div class="clearfix"></div>

    </div>
    <!-- Content ends -->
    <!-- Footer starts -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyright info -->
                    <p class="copy">Copyright &copy; 2017 | <a href="/">宇扬微信管理系统</a> </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>


    @RenderSection("scripts", false)
</body>
</html>